<template id="header-template">
    <style>
        header {
            background-color: #474E68;
            color: whitesmoke;
            padding-left: 32px;
            border-radius: 0px 0px 25px 25px;
        }

        .inner-container {
            display: flex;
            align-items: center;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 24px;
        }

        a {
            text-decoration: none;
            color: whitesmoke;
        }
    </style>
    <header>
        <div class="inner-container">
            <h2>Biagio Piraino</h2>
            <ul>
                <li>
                    <a href="/about.html">Curriculum</a>
                </li>
                <li>
                    <a href="/projects.html">Curriculum</a>
                </li>
                <li>
                    <a href="/contacts.html">Contacts</a>
                </li>
            </ul>
        </div>
    </header>
</template>