<template id="header-template">
    <style>
        .inner-container {
            display: flex;
            align-items: center;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 24px;
        }

        a {
            text-decoration: none;
            color: whitesmoke;
        }
    </style>
    <div class="inner-container">
        <h2>Biagio Piraino</h2>
        <ul>
            <li>
                <a href="/about.html">Curriculum</a>
            </li>
            <li>
                <a href="/projects.html">Curriculum</a>
            </li>
            <li>
                <a href="/contacts.html">Contacts</a>
            </li>
        </ul>
    </div>
</template>