<template id="summary-template">
    <style>
        #summary-container {
            margin-top: 20px;
            margin-bottom: 15px;
            border:1px red solid;

            p {
                padding: 0;
                margin:0;
                margin-top: 10px;
                font-size: var(--p-font-size)
            }
        }

        #summary-header {
            color: var(--primary-color);
            font-size: 20px;
        }

        #summary-content {
            line-height: 1.3;
        }

        strong {
            font-weight: 600;
            color: royalblue
        }
    </style>
    <div id="summary-container">
        <div id="summary-header">
            Summary
        </div>
        <div id="summary-content">
            <p>
                Experienced <strong>Full Stack Developer</strong> with four years 
                of expertise delivering value in mid-size and startups-size developer teams.
            </p>
            <p>
                My main area of expertise is around the Windows stack, and I am proficient
                in developing full-stack solutions using <strong>.NET Core</strong>, Blazor, SQL Server, MongoDB, and
                <strong>Azure</strong> Cloud Services.
                Regarding modern frameworks, I have more than two years of professional experience developing
                solutions using <strong>Vue.js</strong> and <strong>Typescript</strong>.
            </p>
            <p>
                I have developed a solid knowledge of the <strong>Linux</strong> and <strong>AWS</strong> ecosystems, 
                and I currently hold certifications and professional experience in them.
            </p>
        </div>
    </div>
</template>