/* Global */
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  /* Sticky footer */
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* Navbar */
.navbar {
  background-color: #d1d9d9;
  padding: 1rem;
  text-align: center;
}
.navbar-logo img {
  rotate: -10deg;
  transition: transform 0.7s ease-in-out;
  width: 3%;
}
.navbar-logo img:hover {
  animation: shake 0.7s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(5px, 0) rotate(10deg);
  }
  40% {
    transform: translate(-5px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(5px, 0) rotate(10deg);
  }
  80% {
    transform: translate(-5px, 0) rotate(-10deg);
  }
  100% {
    transform: translate(0) rotate(0);
  }
}
/* Intro message */
.intro-message-container {
  background-color: #d1d9d9;
  cursor: default;
  height: 50vh;
}
.intro-message h1,
h2 {
  color: #474e68;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}
.intro-message h1 {
  font-size: 4rem;
}
.intro-message h2 {
  font-size: 2.5rem;
}
.punctuation {
  color: #f06f2b;
}
#blinking-dot {
  animation: blink 1s infinite;
}
#blinking-dot:hover {
  animation: bounce 0.8s infinite ease-in-out;
  position: relative;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes bounce {
  0%,
  100% {
    bottom: 5px;
  }
  50% {
    bottom: 0;
  }
}
/* Footer */
.footer {
  align-items: center;
  background-color: #d1d9d9;
  color: #474e68;
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  padding: 5px 15px;
  text-align: end;
}
.footer img {
  cursor: pointer;
  opacity: 50%;
  width: 17px;
}
.contact-me-icons {
  display: flex;
  gap: 11px;
}
.contact-me-icons img:hover {
  opacity: 60%;
  scale: 1.1;
  transform: translate(3px, 0) rotate(5deg);
}
#email-icon {
  position: relative;
  top: 2px;
}
.credit {
  color: #474e68;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.credit:hover {
  color: #f06f2b;
}
