/* Variables */
/* Global style */
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  /* Sticky footer */
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* Navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1d9d9;
  padding: 1rem;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navbar-links a {
  color: #474e68;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  transition: color 0.3s ease-in-out;
}
.navbar-links a:hover {
  color: #f06f2b;
  position: relative;
  bottom: 3px;
}
.navbar-logo img {
  width: 20%;
  rotate: -10deg;
  transition: transform 0.7s ease-in-out;
}
.navbar-logo img:hover {
  animation: shake 0.7s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(5px, 0) rotate(10deg);
  }
  40% {
    transform: translate(-5px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(5px, 0) rotate(10deg);
  }
  80% {
    transform: translate(-5px, 0) rotate(-10deg);
  }
  100% {
    transform: translate(0) rotate(0);
  }
}
/* Main container */
.main-container {
  cursor: default;
  margin: 0 auto;
}
/* Intro message */
.intro-message h1 {
  color: #474e68;
  font-size: 4rem;
  white-space: nowrap;
}
.intro-message h2 {
  color: #474e68;
  font-size: 3rem;
  white-space: nowrap;
}
.hello-line {
  width: 100%;
  text-align: center;
}
.punctuation {
  color: #f06f2b;
}
.intro-greetings-text {
  overflow: hidden;
  letter-spacing: 1.5px;
}
#blinking-dot {
  animation: blink 1s infinite;
}
#blinking-dot:hover {
  position: relative;
  animation: bounce 0.8s infinite ease-in-out;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes bounce {
  0%,
  100% {
    bottom: 5px;
  }
  50% {
    bottom: 0;
  }
}
/* Footer style */
.footer {
  color: #474e68;
  background-color: #d1d9d9;
  font-size: 0.7rem;
  text-align: end;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  width: 17px;
  opacity: 50%;
  cursor: pointer;
}
.contact-me-icons {
  display: flex;
  gap: 11px;
}
.contact-me-icons img:hover {
  transform: translate(3px, 0) rotate(5deg);
  opacity: 60%;
  scale: 1.1;
}
#email-icon {
  position: relative;
  top: 2px;
}
.credit {
  color: #474e68;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.credit:hover {
  color: #f06f2b;
}
