@concrete-color: #D1D9D9;
@contrast-color: #F06F2B;
@navbar-font-size: 1rem;
@main-font: 'Ubuntu', sans-serif;
@main-font-color: #474E68;
@big-title-size: 4rem;
@mid-title-size: 2.5rem;
@small-font-size: 0.7rem;
@paragraph-font-size: 0.95rem;

/* Global */
body {
  margin: 0;
  font-family: @main-font;
  /* Sticky footer */
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

hr {
  border: 6px dotted @concrete-color;
  border-bottom: none;
  width: 2%;
}

button {
  background-color: @contrast-color;
  border: none;
  border-radius: 10px;
  color: @concrete-color;
  cursor: pointer;
  font-family: @main-font;
  font-size: 1.1rem;
  padding: 15px 30px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #D85A1F;
}

button:active {
  transform: translateY(2px);
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: @concrete-color;
  padding: 1rem;
  text-align: center;
}

.navbar-logo img {
  rotate: (-10deg);
  transition: transform 0.7s ease-in-out;
  width: 3%;
  min-width: 10px;
  max-width: 30px;
}

.navbar-logo img:hover {
  animation: shake 0.7s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(5px, 0) rotate(10deg);
  }

  40% {
    transform: translate(-5px, 0) rotate(-10deg);
  }

  60% {
    transform: translate(5px, 0) rotate(10deg);
  }

  80% {
    transform: translate(-5px, 0) rotate(-10deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}

/* Intro message */
.intro-message-container {
  padding-top: 50px;
  background-color: @concrete-color;
  cursor: default;
  height: 35vh;
}

.intro-message h1,
h2 {
  color: @main-font-color;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  white-space: nowrap;
}

.intro-message h1 {
  font-size: @big-title-size;
}

.intro-message h2 {
  font-size: @mid-title-size;
}

.punctuation {
  color: @contrast-color;
}

#blinking-dot {
  position: relative;
  right: 7px;
  animation: blink 1s infinite;
}

#blinking-dot:hover {
  animation: bounce 0.8s infinite ease-in-out;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes bounce {

  0%,
  100% {
    bottom: 5px;
  }

  50% {
    bottom: 0;
  }
}

/* Blocks */
.block-section {
  margin: 0 auto;
  max-width: 850px;
  padding-top: 30px;
  width: 75%;
}

.block-section h1 {
  color: @main-font-color;
  font-size: @mid-title-size;
  margin-bottom: 40px;
  text-align: center;
}

.block-section p {
  font-size: @paragraph-font-size;
  line-height: 1.5;
}

.block-section h3 {
  color: @contrast-color;
}

/* Activity */
.activity-container {
  align-items: center;
  display: flex;
  margin: 50px auto;
}

.activity-section h3 {
  margin-bottom: -0.5em;
}

.activity-section img {
  margin-right: 30px;
  max-height: 100px;
  max-width: 100px;
  width: 25%;
}

.activity-description {
  text-align: start;
  overflow: hidden;
}

/* Contact me */
.contact-me-section {
  text-align: center;
}

.contact-me-section button {
  margin: 30px 0 90px 0;
  font-weight: bold;
}

/* Footer */
.footer {
  align-items: center;
  background-color: @concrete-color;
  color: @main-font-color;
  display: flex;
  font-size: @small-font-size;
  justify-content: space-between;
  padding: 5px 15px;
  text-align: end;
}

.footer img {
  cursor: pointer;
  opacity: 50%;
  width: 17px;
}

.contact-me-icons {
  display: flex;
  gap: 11px;
}

.contact-me-icons img:hover {
  opacity: 60%;
  scale: 1.1;
  transform: translate(3px, 0) rotate(5deg);
}

#email-icon {
  position: relative;
  top: 2px;
}

.credit {
  color: @main-font-color;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.credit:hover {
  color: @contrast-color;
}