/* Variables */
@concrete-color: #D1D9D9;
@contrast-color: #F06F2B;
@navbar-font-size: 1rem;
@main-font: 'Ubuntu', sans-serif;
@main-font-color: #474E68;
@intro-h1-font-size: 4rem;
@intro-h2-font-size: 2.5rem;
@small-font-size: 0.7rem;

/* Global style */
body {
  margin: 0;
  
  font-family: @main-font;
  /* Sticky footer */
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Navbar style */
.navbar {
  text-align: center;
  background-color: @concrete-color;
  padding: 1rem;
}

.navbar-logo img {
  width: 3%;
  rotate: (-10deg);
  transition: transform 0.7s ease-in-out;
}

.navbar-logo img:hover {
  animation: shake 0.7s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(0) rotate(0);
  }

  20% {
    transform: translate(5px, 0) rotate(10deg);
  }

  40% {
    transform: translate(-5px, 0) rotate(-10deg);
  }

  60% {
    transform: translate(5px, 0) rotate(10deg);
  }

  80% {
    transform: translate(-5px, 0) rotate(-10deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}

/* Intro message */
.intro-message-container {
  background-color: @concrete-color;
  cursor: default;
  height: 50vh;
}

.intro-message h1,h2 {
  margin: 0 auto;
  color: @main-font-color;
  white-space: nowrap;
  text-align: center;
  padding-top: 30px;
  top: 30px;
}
.intro-message h1 {
  font-size: @intro-h1-font-size;
}

.intro-message h2 {
  font-size: @intro-h2-font-size;
}

.punctuation {
  color: @contrast-color;
}

#blinking-dot {
  animation: blink 1s infinite;
}

#blinking-dot:hover {
  position: relative;
  animation: bounce 0.8s infinite ease-in-out;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes bounce {

  0%,
  100% {
    bottom: 5px;
  }

  50% {
    bottom: 0;
  }
}

/* Footer style */
.footer {
  color: @main-font-color;
  background-color: @concrete-color;
  font-size: @small-font-size;
  text-align: end;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  width: 17px;
  opacity: 50%;
  cursor: pointer;
}

.contact-me-icons {
  display: flex;
  gap: 11px;
}

.contact-me-icons img:hover {
  transform: translate(3px, 0) rotate(5deg);
  opacity: 60%;
  scale: 1.1;
}

#email-icon {
  position: relative;
  top: 2px;
}

.credit {
  color: @main-font-color;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.credit:hover {
  color: @contrast-color;
}