<template id="curriculum-template">
    <style>
        #curriculum-content {
            padding-top: 10px;
        }

         .entry-header {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 5px;
        }

        .position-container {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <div id="curriculum-content">

    </div>
</template>

<template id="curriculum-entry-template">
    <div slot="header"></div>
    <div slot="position"></div>
    <div slot="summary"></div>
</template>