<template id="footer-template">
    <style>
        footer {
            background-color: #474E68;
            color: whitesmoke;
            font-size: 0.8rem;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        footer p {
            margin: 0 0 15px 0;
        }

        a {
            text-decoration: none;
            color: whitesmoke;
        }

        .external-links {
            display: flex;
            gap: 8px;
            justify-content: center;
        }
    </style>
    <footer>
        <div class="external-links">
            <a href="https://github.com/biagioPiraino/" target="_blank" referrerpolicy="no-referrer">GitHub</a>
            <a href="https://www.linkedin.com/in/biagio-piraino/" target="_blank"
                referrerpolicy="no-referrer">LinkedIn</a>
        </div>
</template>