<template id="certifications-template">
    <style>
        #certifications-container {
            margin-top: 15px;
            margin-bottom: 15px;

            p {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                font-size: var(--p-font-size)
            }
        }

        #certifications-header {
            color: var(--primary-color);
            font-size: 20px;
        }

        #certifications-content {
            line-height: 1.5;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: var(--p-font-size);
        }

        .certification-entry-container {
            display: flex;

            .entry-domain {
                min-width: 50px;
                text-align: end;
                margin-right: 15px;
            }

            .entry-content {
                line-height: 1.8;
                transition: transform .3s ease-out;
                
            }
            
            .entry-content:hover {
                transform: translate(0, -2px);
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        strong {
            font-weight: 600;
            color: var(--primary-color)
        }


    </style>
    <div id="certifications-container">
        <div id="certifications-header">
            Certifications
        </div>
        <div id="certifications-content">
        </div>
    </div>
</template>

<template id="certification-entry-template">
    <slot></slot>
</template>